.form {
  display: flex;
  justify-content: space-around;
  border: 1px solid #fff;
  max-width: 1120px;
  margin: 10px auto;
  width: 80%;
  padding: 15px 0px;
  gap: 10px;
  background-color: #fff;
  border-radius: 3px;
}
.input_content {
  display: flex;
  flex-direction: column;
}
.input {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
}
.radio {
  margin: 5px 5px;
  accent-color: black;
  margin-top: 0;
}
.form button {
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #004138;
  margin-left: 30px;
}
.radio_group {
  display: flex;
  align-items: center;
}
.form input {
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
